.search {
  margin-left: 50px;
  font-size: 12px;
  width: 250px;
  height: 30px;
}

#search-icon {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  transform: rotate(90deg);
  opacity: 0.5;
}

#search-icon:hover {
  cursor: pointer;
}