<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Hulu</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="tv">TV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="movies">Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Kids</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Originals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Add-Ons</a>
    </li>        
    <form class="form-inline">
        <input class="form-control search" type="text" placeholder="Shows, Movies, People...">
        <img id="search-icon" src="../assets/search-icon.png">
    </form>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>