/* -------------- */
/* NAVIGATION BAR */
/* -------------- */

.navbar { 
  margin-left: 120px;
  margin-right: 120px;
  background: rgba(0,0,0, 0.0);
  position: fixed;
}

.search {
  margin-left: 50px;
  font-size: 12px;
  width: 250px;
  height: 30px;
}


.nav-link {
  color: white;
}

.nav-link:hover {
  color: #66AA33
}

#search-icon {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  transform: rotate(90deg);
  opacity: 0.5;
}

#search-icon:hover {
  cursor: pointer;
}

#logo {
  margin-bottom: 7px;
}