<app-featured-masthead></app-featured-masthead>

<br>
<div class="card-row">
  <h2>User's Watchlist: TV</h2>
  <div *ngFor="let show of shows | async ; index as i" class="show-container">
    <div *ngIf="i < 5" class="show-container">
      <img (click)="goToDetailPage(show)" src="../assets/{{ show.imgUrl }}">
      <p>{{ show.seasons[0].episodes[0].title }}</p>
      <p>Season {{ show.seasons[0].seasonNumber }}, Episode {{ show.seasons[0].episodes[0].episodeNumber }}</p>
    </div>
  </div> 
</div>


