.row{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.card {
  width: 220px;
  max-width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.show-title {
  color: rgb(110, 0, 0);
}

.show-title:hover {
  color: rgb(194, 9, 9);
  cursor: pointer;
}

#synopsis {
  font-size: 12px;
}