.card-row {
  height: 214px;
  width: 1186px;
  margin: 0 auto;
}

.show-container {
  width: 224px;
  height: 198px;
  display: inline-block;
  margin-right: 12px;
}

.show-container p {
  margin-bottom: 0px;
}