<h1>Featured Television Masthead</h1>
<h1>Navigation Image Squares</h1>
<br><br><br>
<h2>Your Watchlist</h2>

<button id="left" (click)="leftScroll()">Left</button>
<button id="right" (click)="rightScroll()">Right</button>
<div class="row">
  <div *ngFor="let show of shows | async" class="card">
    <img (click)="goToDetailPage(show)" class="card-img-top" src="../assets/{{ show.url }}">
    <h2 (click)="goToDetailPage(show)" class="show-title">{{ show.title }}</h2>
    <h3>{{ show.genre }}</h3>
    <p id="synopsis">{{ show.synopsis }}</p>
    <p>Original Network: {{ show.network }}</p>
  </div>
</div>

