.card-row {
  height: 400px;
}

.show-container {
  width: 224px;
  height: 198px;
  display: inline-block;
  margin-right: 15px;
  border: 1px black solid;
}

.television-container {
  margin-left: 127px;
  margin-right: 127px;
}